# Config files and JSON
*.json text eol=lf
*.jsonc text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf

# Shell scripts
*.sh text eol=lf

# Markdown & docs
*.md text eol=lf
*.mdx text eol=lf
*.txt text eol=lf

# Git-related
.gitattributes text eol=lf
.gitignore text eol=lf

# Git-related
*.env text eol=lf
*.lock text eol=lf